In [1]:
df_a = spark.createDataFrame(
    [(1,), (1,), (2,), (2,), (3, ), (4, ), (4, )], ['id'])

df_b = spark.createDataFrame(
    [(1,), (1, ), (3, )], ['id'])

In [2]:
df_a.join(df_b, on='id', how='left_anti').show()

+---+
| id|
+---+
|  2|
|  2|
|  4|
|  4|
+---+

In [3]:
df_a.join(df_b, on='id', how='leftanti').show()

+---+
| id|
+---+
|  2|
|  2|
|  4|
|  4|
+---+

# Union 上下并表

## unionByName

- `unionByName` 根据列名进行行合并

In [1]:
df1 = spark.createDataFrame([[1,2,3]], ["col0", "col1", "col2"])
df2 = spark.createDataFrame([[4,5,6]], ["col1", "col2", "col0"])
df_unionbyname = df1.unionByName(df2)
df_unionbyname.show()

+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|   2|   3|
|   6|   4|   5|
+----+----+----+

## union

In [ ]:
df1.union

## unionAll

In [ ]:
df1.unionAll

# Join 左右连接

## 创建基本数据

In [2]:
transactions = [
    (1,5,3,"01/01/2015", "San Francisco"), 
    (2,6,1, "01/02/2015", "San Jose"),
    (3,1,6,"01/01/2015", "Boston"), 
    (4,200,400,"01/02/2015","Palo Alto"),     
    (6, 100, 100, "01/02/2015", "Mountain View")]
df_transactions = spark.createDataFrame(
    transactions, ['tId', "custId", "date", "city"])
df_transactions.show()

customers =  [
    (1,'James',21,'M'), (2, "Liz",25,"F"), (3, "John", 31, "M"),
    (4, "Jennifer", 45, "F"), (5, "Robert", 41, "M"), (6, "Sandra", 45, "F")]
df_customers = spark.createDataFrame(
    customers, ["cID", "name", "age", "gender"]) # list -> DF
df_customers.show()

+---+------+----+----------+-------------+
|tId|custId|date|      city|           _5|
+---+------+----+----------+-------------+
|  1|     5|   3|01/01/2015|San Francisco|
|  2|     6|   1|01/02/2015|     San Jose|
|  3|     1|   6|01/01/2015|       Boston|
|  4|   200| 400|01/02/2015|    Palo Alto|
|  6|   100| 100|01/02/2015|Mountain View|
+---+------+----+----------+-------------+

+---+--------+---+------+
|cID|    name|age|gender|
+---+--------+---+------+
|  1|   James| 21|     M|
|  2|     Liz| 25|     F|
|  3|    John| 31|     M|
|  4|Jennifer| 45|     F|
|  5|  Robert| 41|     M|
|  6|  Sandra| 45|     F|
+---+--------+---+------+

In [3]:
df_join_left = df_transactions.join(
    df_customers, df_transactions.custId == df_customers.cID, 
    "left_outer")
df_join_left.show()

+---+------+----+----------+-------------+----+------+----+------+
|tId|custId|date|      city|           _5| cID|  name| age|gender|
+---+------+----+----------+-------------+----+------+----+------+
|  2|     6|   1|01/02/2015|     San Jose|   6|Sandra|  45|     F|
|  1|     5|   3|01/01/2015|San Francisco|   5|Robert|  41|     M|
|  3|     1|   6|01/01/2015|       Boston|   1| James|  21|     M|
|  6|   100| 100|01/02/2015|Mountain View|null|  null|null|  null|
|  4|   200| 400|01/02/2015|    Palo Alto|null|  null|null|  null|
+---+------+----+----------+-------------+----+------+----+------+

In [4]:
df_join_left = df_transactions.join(
    df_customers, df_transactions.custId == df_customers.cID, "left")
df_join_left.show()

+---+------+----+----------+-------------+----+------+----+------+
|tId|custId|date|      city|           _5| cID|  name| age|gender|
+---+------+----+----------+-------------+----+------+----+------+
|  2|     6|   1|01/02/2015|     San Jose|   6|Sandra|  45|     F|
|  1|     5|   3|01/01/2015|San Francisco|   5|Robert|  41|     M|
|  3|     1|   6|01/01/2015|       Boston|   1| James|  21|     M|
|  6|   100| 100|01/02/2015|Mountain View|null|  null|null|  null|
|  4|   200| 400|01/02/2015|    Palo Alto|null|  null|null|  null|
+---+------+----+----------+-------------+----+------+----+------+

```python
df_join_inner = df_transactions.join(
    df_customers, df_transactions.custId == df_customers.cID, "inner")
df_join_inner.show()
+---+------+----+----------+-------------+---+------+---+------+
|tId|custId|date|      city|           _5|cID|  name|age|gender|
+---+------+----+----------+-------------+---+------+---+------+
|  2|     6|   1|01/02/2015|     San Jose|  6|Sandra| 45|     F|
|  1|     5|   3|01/01/2015|San Francisco|  5|Robert| 41|     M|
|  3|     1|   6|01/01/2015|       Boston|  1| James| 21|     M|
+---+------+----+----------+-------------+---+------+---+------+

df_join_outer = df_transactions.join(
    df_customers, df_transactions.custId == df_customers.cID, "outer")
df_join_outer.show()
| tId|custId|date|      city|           _5| cID|    name| age|gender|
+----+------+----+----------+-------------+----+--------+----+------+
|   2|     6|   1|01/02/2015|     San Jose|   6|  Sandra|  45|     F|
|   1|     5|   3|01/01/2015|San Francisco|   5|  Robert|  41|     M|
|   3|     1|   6|01/01/2015|       Boston|   1|   James|  21|     M|
|   6|   100| 100|01/02/2015|Mountain View|null|    null|null|  null|
|null|  null|null|      null|         null|   3|    John|  31|     M|
|   4|   200| 400|01/02/2015|    Palo Alto|null|    null|null|  null|
|null|  null|null|      null|         null|   2|     Liz|  25|     F|
|null|  null|null|      null|         null|   4|Jennifer|  45|     F|

df_join_left = df_transactions.join(
    df_customers, df_transactions.custId == df_customers.cID, "left_outer")
df_join_left.show()
+---+------+----+----------+-------------+----+------+----+------+
|tId|custId|date|      city|           _5| cID|  name| age|gender|
+---+------+----+----------+-------------+----+------+----+------+
|  2|     6|   1|01/02/2015|     San Jose|   6|Sandra|  45|     F|
|  1|     5|   3|01/01/2015|San Francisco|   5|Robert|  41|     M|
|  3|     1|   6|01/01/2015|       Boston|   1| James|  21|     M|
|  6|   100| 100|01/02/2015|Mountain View|null|  null|null|  null|
|  4|   200| 400|01/02/2015|    Palo Alto|null|  null|null|  null|
+---+------+----+----------+-------------+----+------+----+------+

df_join_right = df_transactions.join(
    df_customers, df_transactions.custId == df_customers.cID, "right_outer")
df_join_right.show()
+----+------+----+----------+-------------+---+--------+---+------+
| tId|custId|date|      city|           _5|cID|    name|age|gender|
+----+------+----+----------+-------------+---+--------+---+------+
|   2|     6|   1|01/02/2015|     San Jose|  6|  Sandra| 45|     F|
|   1|     5|   3|01/01/2015|San Francisco|  5|  Robert| 41|     M|
|   3|     1|   6|01/01/2015|       Boston|  1|   James| 21|     M|
|null|  null|null|      null|         null|  3|    John| 31|     M|
|null|  null|null|      null|         null|  2|     Liz| 25|     F|
|null|  null|null|      null|         null|  4|Jennifer| 45|     F|
+----+------+----+----------+-------------+---+--------+---+------+

## left_semi 返回在两个表都有的行，只返回左表
## left_anti 返回只在左表有的行
```

### 字段合并与分割

#### explode

- lag\lead
- explode\explode_outer 将一行分成多行

二者可用来实现一行分为多行：为给定数组或映射中的每个元素返回新行。除非另有指定，否则对数组中的元素使用默认列名col，对映射中的元素使用key和value

In [4]:
from pyspark.sql.functions import *

df = spark.createDataFrame(
    [(1, ["foo", "bar"], {"x": 1}), (2, [], {}), (3, None, None)],
    ("id", "an_array", "a_map")
)

df.show()
df.select("id", "an_array", explode_outer("a_map")).show()
df.select("id", "an_array", explode("a_map")).show()

+---+----------+--------+
| id|  an_array|   a_map|
+---+----------+--------+
|  1|[foo, bar]|[x -> 1]|
|  2|        []|      []|
|  3|      null|    null|
+---+----------+--------+

+---+----------+----+-----+
| id|  an_array| key|value|
+---+----------+----+-----+
|  1|[foo, bar]|   x|    1|
|  2|        []|null| null|
|  3|      null|null| null|
+---+----------+----+-----+

+---+----------+---+-----+
| id|  an_array|key|value|
+---+----------+---+-----+
|  1|[foo, bar]|  x|    1|
+---+----------+---+-----+

In [19]:
df_explode = df.withColumn("e", explode(split(df['score'], " ")))
df_explode.show()

+---+-----------+---+
|gid|      score|  e|
+---+-----------+---+
| a1|90 80 79 80| 90|
| a1|90 80 79 80| 80|
| a1|90 80 79 80| 79|
| a1|90 80 79 80| 80|
| a2|90 80 79 80| 90|
| a2|90 80 79 80| 80|
| a2|90 80 79 80| 79|
| a2|90 80 79 80| 80|
| a3|90 80 79 80| 90|
| a3|90 80 79 80| 80|
| a3|90 80 79 80| 79|
| a3|90 80 79 80| 80|
+---+-----------+---+

#### 列数据的分割

In [6]:
df = spark.createDataFrame(
    [
        ('a1', '90 80 79 80'),
        ('a2', '90 80 79 80'),
        ('a3', '90 80 79 80'),
    ],
    ("gid", "score")
)

In [8]:
df_split = df.withColumn("s", split(df['score'], " "))
df_split.show()

+---+-----------+----------------+
|gid|      score|               s|
+---+-----------+----------------+
| a1|90 80 79 80|[90, 80, 79, 80]|
| a2|90 80 79 80|[90, 80, 79, 80]|
| a3|90 80 79 80|[90, 80, 79, 80]|
+---+-----------+----------------+

##### zipWithIndex:给每个元素生成一个索引

In [12]:
sc.parallelize(['a', 'b'], 2).zipWithIndex().collect()

[('a', 0), ('b', 1)]

In [18]:
first_row = df.first()
numAttrs = len(first_row['score'].split(" "))
print("新增列的个数", numAttrs)

attrs = sc.parallelize(
    ["score_" + str(i) for i in range(numAttrs)]
).zipWithIndex().collect()
print("列名：", attrs)

for name, index in attrs:
    df_split = df_split.withColumn(name, df_split['s'].getItem(index))
df_split.show()

新增列的个数 4
列名： [('score_0', 0), ('score_1', 1), ('score_2', 2), ('score_3', 3)]
+---+-----------+----------------+-------+-------+-------+-------+
|gid|      score|               s|score_0|score_1|score_2|score_3|
+---+-----------+----------------+-------+-------+-------+-------+
| a1|90 80 79 80|[90, 80, 79, 80]|     90|     80|     79|     80|
| a2|90 80 79 80|[90, 80, 79, 80]|     90|     80|     79|     80|
| a3|90 80 79 80|[90, 80, 79, 80]|     90|     80|     79|     80|
+---+-----------+----------------+-------+-------+-------+-------+

##### 合并

- concat
- concat_ws

```python
## sample, 返回一个DataFrame, 包含源DataFrame 指定比例行数的数据
df_sample = df_customers.sample(
    withReplacement= False, fraction =0.2, seed = 1)
df_sample.show()

## sampleBy 按指定列，分层无放回抽样
df_sample2 = df_sales.sampleBy(
    'product', fractions= {"iPhone": 0.5, "S6": 0.5}, seed = 1)
df_sample2.show()

## randomSplit: 把DataFrame分割成多个DataFrame
df_splits = df_customers.randomSplit([0.6,0.2,0.2])
df_splits[0].show()
```

---