In [5]:
from pyspark.sql import functions as F
from pyspark.sql.types import *
df = spark.range(1, 5)

## 新创建一列 1

In [7]:
df = df.withColumn('new_column', F.lit(1))
df.toPandas()

   id  new_column
0   1           1
1   2           1
2   3           1
3   4           1

## 重命名

In [8]:
df = df.withColumnRenamed('new_column', 'just_one')
df.show()

+---+--------+
| id|just_one|
+---+--------+
|  1|       1|
|  2|       1|
|  3|       1|
|  4|       1|
+---+--------+

## 列选择

#### 几种常用写法

In [15]:
df.select('just_one', 'id').show()

df.select(F.col('just_one')).show()

df.select(df.just_one).show()

df.select(df['just_one']).show()

+--------+---+
|just_one| id|
+--------+---+
|       1|  1|
|       1|  2|
|       1|  3|
|       1|  4|
+--------+---+

+--------+
|just_one|
+--------+
|       1|
|       1|
|       1|
|       1|
+--------+

+--------+
|just_one|
+--------+
|       1|
|       1|
|       1|
|       1|
+--------+

+--------+
|just_one|
+--------+
|       1|
|       1|
|       1|
|       1|
+--------+

---