In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(
    np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
    columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
sp_df = spark.createDataFrame(df)

In [10]:
sp_df.show()

+---+---+---+
|  a|  b|  c|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  7|  8|  9|
+---+---+---+

In [12]:
sp_df.summary().show()

+-------+---+---+---+
|summary|  a|  b|  c|
+-------+---+---+---+
|  count|  3|  3|  3|
|   mean|4.0|5.0|6.0|
| stddev|3.0|3.0|3.0|
|    min|  1|  2|  3|
|    25%|  1|  2|  3|
|    50%|  4|  5|  6|
|    75%|  7|  8|  9|
|    max|  7|  8|  9|
+-------+---+---+---+

In [21]:
sp_df = sp_df.withColumn('d', sp_df.a + sp_df.b)

In [20]:
sp_df.take(1)

[Row(a=1, b=2, c=3, d=3)]

In [18]:
sp_df.collect()

[Row(a=1, b=2, c=3, d=3), Row(a=4, b=5, c=6, d=9), Row(a=7, b=8, c=9, d=15)]

In [17]:
sp_df.show()

+---+---+---+---+
|  a|  b|  c|  d|
+---+---+---+---+
|  1|  2|  3|  3|
|  4|  5|  6|  9|
|  7|  8|  9| 15|
+---+---+---+---+

In [22]:
sp_df.toPandas()

   a  b  c   d
0  1  2  3   3
1  4  5  6   9
2  7  8  9  15

In [23]:
sp_df.createOrReplaceTempView('temp')

In [24]:
sp_df_temp = spark.sql('SELECT a, c FROM temp')

In [ ]:
spark.sql('CREATE TABLE "temp" AS temp')

In [26]:
sp_df_temp.show()

+---+---+
|  a|  c|
+---+---+
|  1|  3|
|  4|  6|
|  7|  9|
+---+---+

In [27]:
s = pd.Series(['dasd张三', 'fasf李四909', 'da\王二麻子sd'])

In [29]:
s.str.upper()

0       DASD张三
1    FASF李四909
2    DA\王二麻子SD
dtype: object

In [30]:
s.str.lower()

0       dasd张三
1    fasf李四909
2    da\王二麻子sd
dtype: object

In [31]:
s.str.len()

0    6
1    9
2    9
dtype: int64

In [37]:
s[s.str.contains('张|王')]

0       dasd张三
2    da\王二麻子sd
dtype: object

In [39]:
s.str.startswith('三')

0    False
1    False
2    False
dtype: bool

In [38]:
s.str.endswith('三')

0     True
1    False
2    False
dtype: bool

In [45]:
s.str.find('三')

0    5
1   -1
2   -1
dtype: int64

In [ ]:
s.st

In [52]:
import re

''.join(re.findall('[\u4e00-\u9fa5]+', '大赛ddd大萨达dasd大萨'))

'大赛大萨达大萨'

In [53]:
s.str.findall('[\u4e00-\u9fa5]+')

0      [张三]
1      [李四]
2    [王二麻子]
dtype: object

In [1]:
pd.DataFrame(s, columns=['test']).test.str.extract('\u4e00-\u9fa5', expand=False)

NameError: name 'pd' is not defined

In [ ]:
import pyspark

In [ ]:
pyspark.__version__

In [ ]:
from graphframes import *

### word count

In [ ]:
ls = ['A', 'A', 'B']

In [ ]:
rdd = sc.parallelize(ls)

In [ ]:
count = rdd.map(lambda word: (word, 1))

In [ ]:
counts = count.reduceByKey(lambda a, b: a + b)

In [ ]:
counts.collect()

---

### map flatmap

In [ ]:
rdd = sc.parallelize([1, 2, 3, 4, 5])

In [ ]:
# 查看分区
rdd.getNumPartitions()

In [ ]:
# 按照分区进行打印
rdd.glom().collect()

In [ ]:
rdd.map(lambda i: range(1, i)).collect()

In [ ]:
rdd.flatMap(lambda i: range(1, i)).collect()

### reduce fold aggregate

In [ ]:
rdd = sc.parallelize([2, 4, 6, 1])
zero = 0
op =

In [ ]:
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [ ]:
ratings_with_scale10 = ratings.withColumn("ScaledRating", 2*F.col("rating"))
ratings_with_exp = ratings.withColumn("expRating", 2*F.exp("rating"))
ratings_with_exp.show()
ratings_with_scale10.show()

In [ ]:
def somefunc(value): 
    if value < 3: 
        return 'low' 
    else: 
        return 'high'

#convert to a UDF Function by passing in the function and return type of function 
udfsomefunc = F.udf(somefunc, StringType())
ratings_with_high_low = ratings.withColumn("high_low", udfsomefunc("rating"))
ratings_with_high_low.show()

In [2]:
from pyspark.sql import functions as F
from pyspark.sql import types as T

a = sc.parallelize([[1, 1, 'a'],
                    [1, 2, 'a'],
                    [1, 1, 'b'],
                    [1, 2, 'b'],
                    [2, 1, 'c']]).toDF(['id', 'value1', 'value2'])
a.show()

NameError: name 'sc' is not defined

In [ ]:
def find_a(x):
    """Count 'a's in list."""
    output_count = 0
    for i in x:
        if i == 'a':
            output_count += 1
    return output_count

find_a_udf = F.udf(find_a, T.IntegerType())

In [ ]:
a.groupBy('id').agg(
    find_a_udf(F.collect_list(F.when(F.col('value1') == 1, F.col('value2')))).alias('a_count')).show()

In [ ]:
F.when(F.max(F.col('value1')), F.col('value2'))

In [ ]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import col, collect_list, concat_ws, udf

def myFunc(data_list):
    cnt = 0
    for val in data_list:
        b, c = val.split(',')
        if (b == '1' and c == 'a') or (b == '2' and c == 'b'):
            cnt += 1
    return cnt

myUdf = udf(myFunc, StringType())

In [ ]:
a.withColumn(
    'data', concat_ws(',', col('value1'), col('value2'))
).groupBy('id').agg(collect_list('data').alias('data')).withColumn('data', myUdf('data')).collect()

In [ ]:
a_1 = a.withColumn('d', concat_ws(',', col('value1'), col('value2')))

In [ ]:
a_1.show()

In [ ]:
a_1.groupBy('id').agg(myUdf(F.collect_list(F.col('d')))).show()

In [ ]:
df.withColumn('data', concat_ws(',', col('B'), col('C'))) \
  .groupBy('A').agg(collect_list('data').alias('data'))
  .withColumn('data', myUdf('data'))

In [ ]:
a_1.where(a_1.value2.contains('a' or 'b')).show()